<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Steve Justin</h2>
            <h4>stevejustin@alphato.net</h4>
        </div>
        <img src="https://media.istockphoto.com/id/154955498/photo/business-man-smiling-with-arms-crossed.jpg?b=1&s=170667a&w=0&k=20&c=jgJ328th8I6AgT8PX9QEr4F972xIpA_UGooUcihcEdo=" alt="Steve Justin">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
    
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
</mat-nav-list>

